* {
    border: 2px solid black;
}

img{
    display: block;
}

a{
    display: inline-block;
    height: 50px;
}

li{
    display: inline-block;
}

ul{
    padding: 0px;
    position: fixed;
    top: 0px;
}

li:hover{
    background-color: tomato;
}

#img2{
    display: none;
}

#pos_relative{
    position: relative;
    left: 50px;
    width: 75%;
    top: 70px;
    z-index: -1;
}

#padre{
    width: 75%;
    height: 200px;
}

#hijo{
    width: 50%;
    position: absolute;
}

#div_fixed{
    position: fixed;
    right: 0px;
    width: 200px;
    top: 50%;
}